
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial;
}


html{
    scroll-behavior:smooth;
}


body{
    background:#d89242;
}


.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 60px;
    background:#e5e5e5;
    margin:20px;
    border-radius:15px;
}

.logo{
    color:#d89242;
}

nav a{
    margin-left:25px;
    text-decoration:none;
    color:black;
    font-weight:500;
}

nav a:hover{
    color:#d89242;
}


.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#e5e5e5;
    margin:60px auto;
    padding:60px;
    width:75%;
    border-radius:20px;
}

.hero-text h1{
    font-size:32px;
    margin-bottom:10px;
}

.subtitle{
    margin-bottom:25px;
    color:#444;
}


.btn{
    background:#d89242;
    color:white;
    padding:12px 25px;
    border-radius:10px;
    text-decoration:none;
    display:inline-block;
    transition:0.3s;
}

.btn:hover{
    background:#c07f35;
}


.circle{
    width:240px;
    height:240px;
    border-radius:50%;
    overflow:hidden;
    background:#d89242;
    display:flex;
    align-items:center;
    justify-content:center;
}

.circle img{
    width:100%;
    height:100%;
    object-fit:cover;
}


.section{
    width:75%;
    margin:60px auto;
    
}

.section h2{
    margin-bottom:20px;
}


.about-points{
    margin-top:15px;
    padding-left:20px;
}

.about-points li{
    margin-bottom:8px;
}


.skills-list{
    margin-top:15px;
    padding-left:20px;
}

.skills-list li{
    margin-bottom:10px;
}


footer{
    background:black;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:50px;
}
